/* Asegura que el login ocupe toda la pantalla */
.min-h-screen {
    min-height: 100vh;
  }
  
  /* Diseño de la tarjeta */
  .card {
    background-color: var(--surface-card);
    box-shadow: var(--box-shadow-2);
    border-radius: 10px;
  }
  
  /* Espaciado de los campos */
  .field {
    margin-bottom: 1.5rem;
  }
  
  /* Personalización del texto de error */
  .p-error {
    font-size: 0.875rem;
    color: #d32f2f;
  }
  
  /* Ajuste en el ancho de la tarjeta dependiendo del tamaño de pantalla */
  @media (max-width: 600px) {
    .card {
      width: 100%;
      padding: 2rem;
    }
  }
  
  @media (max-width: 1024px) {
    .card {
      width: 80%;
    }
  }
  